
header
  height: 30vh
  display: flex
  justify-content: center
  align-items: center

.main-content
  width: 80vw
  margin: 5% auto
  display: flex
  flex-direction: column
  align-items: center

.add
  margin: 5% 0
  width: 100%
  display: flex
  flex-direction: column
  align-items: center
  .add-meal-form
    margin: 8% 0
    input
      width: 200px
      height: 40px
      font-size: 1.3em
    button
      border: 2px solid tomato
      height: 40px
      width: 60px
      background-color: tomato
      &:hover
        background-color: white
.display-meals
  .meal-content
    h3
    border: solid 1px grey
  button
    border: 2px solid tomato
    height: 40px
    width: 60px
    background-color: tomato
    &:hover
      background-color: white
  .edit-meals
    display: flex
    flex-direction: column
    label
      font-weight: 300
      margin-top: 1%
    input
      margin: 1%
      width: 200px
      height: 40px
      font-size: 1.3em
